@charset "utf-8";

/* *******************************************************
 * 파일이름 : index.css
 * 설명 : layout /custom
 * 업데이트 : 2024-02-27
 ******************************************************** */

@import url(../css/common/default.css);
@import url(../css/common/fonts.css);
@import url(../css/common/design.css);

/* *******************
 * 설명 : root
 * date : 2024-2-29
******************* */

:root {
  /* ******************  width / height ********************** */
  --rt-side-menu-width: 250px;
  --rt-top-bar-height: 70px;

  /* ******************  z-index ********************** */
  --rt-modal-zindex: 1055;
  --rt-side-Menu-zindex: 1002;
  --rt-top-Bar-zindex: 1002;
}

/* *******************
 * 설명 : layout
 * date : 2024-2-29
******************* */
#wrap {
  position: relative;
  width: 100%;
  height: 100vh;
}
#sideMenu {
  position: fixed;
  left: 0;
  top: 0;
  width: var(--rt-side-menu-width);
  height: 100vh;
  background: var(--rt-primary);
  z-index: 999;
}

#topBar {
  position: fixed;
  left: 0;
  top: 0;
  width: calc(100% - var(--rt-side-menu-width));
  margin-left: var(--rt-side-menu-width);
  height: var(--rt-top-bar-height);
  background: var(--rt-white);
  z-index: var(--rt-top-Bar-zindex);
}

#container {
  position: relative;
  left: 0;
  top: 0;
  width: calc(100% - var(--rt-side-menu-width));
  height: 2000px;
  background: var(--rt-background);
  margin-left: var(--rt-side-menu-width);
  margin-top: var(--rt-top-bar-height);
}

/* ****************** #sideMenu ********************** */
/* logo */
.side-menu-logo {
  width: 100%;
  height: var(--rt-top-bar-height);
  text-align: center;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

[data-device="pc"] .side-menu-logo .logo-sm,
[data-device="mobile"] .side-menu-logo .logo-lg {
  display: none;
}
[data-device="pc"] .side-menu-logo .logo-lg,
[data-device="mobile"] .side-menu-logo .logo-sm {
  display: block;
}
/* dropdown-menu */
.dropdown-wrap {
  width: 100%;
  height: 90vh;
  box-sizing: border-box;
}

.dropdown-wrap .nav-title {
  letter-spacing: 0.05em;
  cursor: default;
  font-size: var(--rt-font-size-12);
  text-transform: uppercase;
  color: var(--rt-side-nav-title-text);
  font-weight: var(--rt-font-weight-600);
}
.dropdown-wrap .nav-title span {
  padding: 12px 20px;
  display: inline-block;
}

/* depth 공통 */
.dropdown-wrap ul li {
  display: block;
}
.dropdown-wrap ul li a {
  color: var(--rt-side-nav-item-text);
}
.dropdown-wrap .nav-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dropdown-wrap .nav-link i {
  font-size: 12px;
}

/* one-depth */
.nav-one-depth-ul li a {
  padding: 10px 24px 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.left-tit {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
/* two-depth */
.nav-two-depth-ul {
  padding-left: 28px;
}
.nav-two-depth-ul > li > .nav-link::before {
  content: "";
  width: 6px;
  height: 2px;
  background-color: var(--rt-side-nav-item-text);
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  opacity: 0.5;
}
/* three-depth */
.nav-three-depth-ul {
  padding-left: 24px;
}
.nav-three-depth-ul > li > .nav-link::before {
  content: "";
  width: 4px;
  height: 4px;
  border: 1px solid var(--rt-border);
  border-radius: 50%;
  /* background-color: var(--rt-side-nav-item-text); */
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  opacity: 0.5;
}

/* dropdown */
.dropdown-menu {
  display: none;
}
.dropdown-menu.show {
  display: block;
}
.dropdown-menu .drop-ul .nav-link {
  position: relative;
}

.dropdown-menu.show .nav-three-depth-ul > li > .nav-link::before {
  background-color: var(--rt-border);
}
