@charset "utf-8";

/* *******************************************************
 * 파일이름 : index.css
 * 설명 : layout /custom
 * 업데이트 : 2024-02-27
 ******************************************************** */

@import url(../css/common/default.css);
@import url(../css/common/fonts.css);
@import url(../css/common/design.css);

/* *******************
 * 설명 : root
 * date : 2024-2-29
******************* */

:root {
  /* ******************  width / height ********************** */
  --rt-side-menu-width: 250px;
  --rt-top-bar-height: 70px;

  /* ******************  z-index ********************** */
  --rt-modal-zindex: 1055;
  --rt-side-Menu-zindex: 1002;
  --rt-top-Bar-zindex: 1002;
}

/* *******************
 * 설명 : layout
 * date : 2024-2-29
******************* */
#wrap {
  position: relative;
  width: 100%;
  height: 100vh;
}
#sideMenu {
  position: fixed;
  left: 0;
  top: 0;
  width: var(--rt-side-menu-width);
  height: 100vh;
  background: var(--rt-primary);
  z-index: 999;
}

#topBar {
  position: fixed;
  left: 0;
  top: 0;
  width: calc(100% - var(--rt-side-menu-width));
  margin-left: var(--rt-side-menu-width);
  height: var(--rt-top-bar-height);
  background: var(--rt-white);
  z-index: var(--rt-top-Bar-zindex);
}

#container {
  position: relative;
  left: 0;
  top: 0;
  width: calc(100% - var(--rt-side-menu-width));
  height: 2000px;
  background: var(--rt-background);
  margin-left: var(--rt-side-menu-width);
  margin-top: var(--rt-top-bar-height);
}

/* ****************** #sideMenu ********************** */
/* logo */
.side-menu-logo {
  width: 100%;
  height: var(--rt-top-bar-height);
  text-align: center;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

[data-device="pc"] .side-menu-logo .logo-sm,
[data-device="mobile"] .side-menu-logo .logo-lg {
  display: none;
}
[data-device="pc"] .side-menu-logo .logo-lg,
[data-device="mobile"] .side-menu-logo .logo-sm {
  display: block;
}
/* dropdown-menu */
.dropdown-wrap {
  width: 100%;
  height: 90vh;
  box-sizing: border-box;
}

/* 공통 */
.dropdown-ul li a {
  color: rgba(255, 255, 255, 0.568);
  transition: color 0.2s ease-in;
}

.dropdown-ul li a:hover {
  color: rgba(255, 255, 255, 1);
}
.accordion li .left-tit .icon img {
  filter: opacity(0.5);
}
.accordion li.open .left-tit .icon img {
  filter: opacity(1);
}

.dropdown-ul li a i {
  font-size: 12px;
  transition: transform 0.2s;
}

/* one-depth */
.accordion {
  width: 100%;
}

.accordion-header {
  position: relative;
  padding: 8px 15px;
  cursor: pointer;
}
.accordion-header .left-tit .icon {
  width: 20px;
  height: 20px;
}

.accordion > li.open > a {
  color: rgba(255, 255, 255, 1);
}

.accordion-item.open .accordion-header i {
  transform: rotate(90deg);
}

.accordion-content {
  opacity: 0;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  transition: all 0.35s ease;
}
.accordion-item.open .accordion-content {
  opacity: 1;
  visibility: visible;
  animation: sunAnimation 0.55s 0.3s forwards ease-in;
}

@keyframes sunAnimation {
  0% {
    height: 0px;
  }

  50% {
    height: 100px;
  }
  100% {
    height: 100%;
  }
}

/* two-depth */
.sub-accordion {
  margin-left: 45px;
}

.sub-accordion-item.open .sub-accordion-header i {
  transform: rotate(90deg);
}

.sub-accordion > li.open > a {
  color: rgba(255, 255, 255, 1);
}

.sub-accordion-header {
  position: relative;
  padding: 10px 15px 10px 0;
  cursor: pointer;
}

.sub-accordion-header::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -20px;
  width: 6px;
  height: 1px;
  background: #fff;
}

.sub-accordion-content {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  overflow: hidden;
  max-height: 0;
}

.sub-accordion-item.open .sub-accordion-content {
  opacity: 1;
  visibility: visible;
  max-height: auto;
  padding-bottom: 15px;
}
/* last-depth */
.last-accordion {
  margin-left: 20px;
}

.last-accordion > li.open > a {
  color: rgba(255, 255, 255, 1);
}

.last-accordion-header {
  position: relative;
  display: block;
  padding: 10px 0;
  cursor: pointer;
}

.last-accordion-header::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -20px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 1px solid #fff;
}
