@charset "utf-8";

/* *******************************************************
 * 파일이름 : default.css
 * 설명 : reset 초기화 작업
 * 업데이트 : 2024-03-05
 ******************************************************** */

html {
  overflow-y: scroll;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
audio,
canvas,
img,
video {
  vertical-align: middle;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img,
fieldset {
  border: 0;
}
input,
select,
textarea {
  line-height: 1.2;
  vertical-align: middle;
}
html {
  font-size: 62.5%;
}

body,
table,
th,
td,
input,
textarea,
button,
select {
  font-family: "Pretendard200", "SUIT", "Malgun Gothic", "돋움", Helvetica,
    Sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 1px;
  color: #333333;
}
button,
select {
  text-transform: none;
}
button,
input {
  line-height: normal;
}
textarea {
  resize: vertical;
  overflow: auto;
}
address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}
label {
  cursor: pointer;
}
/* For Screen Reader */
legend {
  display: none;
  visibility: hidden;
}
/* For Screen Reader */
caption {
  display: none;
  visibility: hidden;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
a {
  color: #333;
  text-decoration: none;
}
a:active,
a:hover,
a:focus {
  text-decoration: none;
}
button {
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  border: 0px;
  background: none;
}
body.mouse a:focus,
body.mouse button:focus {
  outline: none;
}

/* input 기본 스타일 초기화 */
input[type="text"],
input[type="password"],
input[type="file"],
input[type="search"],
input[type="email"],
select,
textarea {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input::-ms-clear,
select::-ms-expand {
  display: none;
}
textarea {
  resize: none;
}
